@import '../colors';

@mixin footerMailAdress($color) {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    color: map-get($colors, $color);
}

@mixin headerLogo($color, $letter-spacing, $font-size) {
    color: map-get($colors, $color);
    font-size: $font-size;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: $letter-spacing;
}

@mixin transform($padding, $color, $border, $background-color, $boreder-radius) {
    padding: $padding;
    transition-property: map-get($colors, $color), $border, $background-color;
    transition-timing-function: linear;
    transition-delay: 0;
    border-radius: 50%;
}

@mixin exempelContent($padding) {
    position: absolute;
    bottom: 3px;
    padding: $padding;
    font-size: 14px;
    color: map-get($colors, 'color-h1-address');
    background-image: url(/img/bg.png);
}

@mixin flexJastyfuContentAlingContent($align-items, $justify-content, $display, $padding, $gap) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    padding: $padding;
}

@mixin styliText($font-size, $text-transform, $font-weight, $align, $color, $font-style, $line-height, $letter-spacing, $padding, $margin: 0px) {
    font-size: $font-size;
    color: map-get($colors, $color);
    text-transform: $text-transform;
    font-weight: $font-weight;
    align-items: $align;
    font-style: $font-style;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    padding: $padding;
    margin: $margin;
}

@mixin stilyText2($color, $font-size, $font-weight, $font-style, $line-height, $letter-spacing, $text-transform) {
    color: map-get($colors, $color);
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    margin: 0px;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin dimensions($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
}