@import '../components/colors';
@import '../components/utils/mixins';

h4 {
    @include stilyText('color-standart-text', 18px, 700, normal, 36px, 0px, none);
}

h5 {
    @include stilyText('color-h1-address', 14px, 700, none, none, 00.03em, uppercase);
}

p {
    line-height: 30px;
    @include stilyText('color-p', 16px, 400, normal, 30px, 0.48px, none);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

@media (max-width: 480px) {
    .container {
        padding: 0px 0px 0px 15px;
    }
}

h1 {

    @include stilyText('color-h1-address', 44px, 900, none, none, none, uppercase);
}

h2 {
    color: map-get($colors, 'color-standart-text');
    text-align: center;
    line-height: normal;
    @include stilyText('color-standart-text', 36px, 700, normal, normal, 11.08px, none);
}

h3 {
    @include stilyText('color-standart-text', 14px, 700, normal, normal, 0.42px, uppercase);
}

a {
    text-decoration: none;
    @include stilyText('color-standart-text', 14px, 500, normal, normal, 0.28px, none);
}

a:focus {
    color: map-get($colors, 'color-a-button');
}

.container {
    @include dimensions(none, none, 0px 15px);
    margin: 0 auto;
}

input {
    @include dimensions(358px, 50px, none);
    background-color: map-get($colors, 'color-icon');
}

button {
    padding: 6px 22px;
    border-radius: 4px;
    display: inline-block;
    user-select: none;
    @include stilyText(none, 16px, 500, normal, 26px, 0.48px, none);
}

@media (min-width: 320px) and (max-width: 400px) {
    button {
        padding: 6px 11px;
    }
}