@import '../colors';

@mixin flex($display, $align-items, $justify-conten, $flex-direction, $gap){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-conten;
    flex-direction: $flex-direction;
    gap: $gap;
}

@mixin stilyText($color, $font-size, $font-weight, $font-style, $line-height, $letter-spacing, $text-transform) {
    color: map-get($colors, $color);
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    margin: 0px;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin dimensions($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
}

@mixin transform($padding, $color, $border, $background-color, $boreder-radius) {
    padding: $padding;
    transition-property: map-get($colors, $color), $border, $background-color;
    transition-timing-function: linear;
    transition-delay: 0;
    border-radius: 50%;
}

@mixin headerLogo($color, $letter-spacing, $font-size) {
    color: map-get($colors, $color);
    font-size: $font-size;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: $letter-spacing;
}