@import '../colors';
@import '../utils/mixins';

.div-general-section1-main {
    &__div-button {
        @include flex(flex, center, center, none, 9px);
    }

    &__button {
        color: map-get($colors, 'color-standart-text');
        border: map-get($colors, 'color-h1-address');
        transition-property: background-color, color;
        transition-duration: 0.6s;
        transition-timing-function: ease;

        &:hover {
            background-color: map-get($colors, 'color-a-button');
            color: #FFF;
        }
    }
}

.div-general-section1-main__div-button {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 326px;
    padding: 60px 0px 40px;
}

@media (min-width: 481px) {
    .div-general-section1-main__div-button {
        width: 768px;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .div-general-section1-main {
        display: flex;
        justify-content: center;
    }
}